
a{
  text-decoration: none;
  color: white;
}

a:active{
  color: white;
}


/* 

body{
  background-color: #A1AAA1;
  margin: 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(235, 238, 238);
  height: 100vh;
  background-image: url('./img/bgcake.png');
  background-position: bottom;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-bottom: 1px solid white;
  background-color: #40414c89;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loginSection{
  border: 1px solid white;
  background-color: #40414c;
  width:min-content ;
  padding: 120px;
  margin: auto;
  border-radius: 5px;
}

.allProducts{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.allProducts img{
  height: 140px;
  width: 160px;
  object-fit: contain;
  background-color: white;
}

.allOrders{
  height: 70vh;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: center;
  gap: 10px;
  margin-top: 10px;
}

a{
  text-decoration: none;
  color: white;
}

a:active{
  color: white;
}

.home{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.orderContainer{
  width: 30vw;
  padding: 10px;
  margin-top: 5vh;
  border: 1px solid rgba(255, 255, 255, 0.311);
}

.orderItem{
  display: flex;
  border-bottom: 1px solid rgba(255, 255, 255, 0.311);
  width: 30vw;
  height: min-content;
}

.orderItem p{
  padding: 0 10px;
  margin: 0;
}

main{
  width: 95vw;
  margin: auto;
  margin-top: 20px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 50px;
  background-color: #212424e1;
  width: 95vw;
  height: 80vh;
  margin: 0;
}

.alerts div{
  display: inline;
  margin: 5px;
}

.alerts{
  justify-content: space-between;
  padding: 10px 0;
} */